*.pyc
*.pstats
*.swp
/python_model/.idea/
*ipynb
./python_model/__pycache__/
*.txt
*./python_model/*.txt
*./python_model/*.tmp
*.csv
*.tsv
*.tif
*.tiff
*.json
*.geojson
*.vcf
*.fasta
/dist/*
/*.egg-info
/*.whl
/*.gz
./tests
./GNX*
